/* src/assets/main.css */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap');
:root {
  /* Palette de couleurs */
  --text-main-color: #072635;
  --text-secondary-color: #707070;

  --bg-main-color: #f6f7f8;
  --bg-secondary-color: #ffffff;

  --button-main-color: #01f0d0;
  --button-secondary-color: #f6f7f8;

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
    color: var(--text-main-color);
  }
}

button {
  font-family: 'Manrope', sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: var(--text-main-color);
}
